<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC EXEMPLO NODE.JS</title>
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <br/><br/><br/>
        <h2> MVC EXEMPLO NODE.JS</h2>
        <br/>
        <h4><%=Logged%></h4>
    </div>
</body>
</html>